html {
  font-family: "Fredoka One", sans-serif;
  color: #c09;
  background-image: repeating-linear-gradient(-45deg, #d4fdff, #d4fdff 10px, #c9fcff 10px, #c9fcff 20px);
  border-top: 8px solid #b3fbff;
  border-bottom: 8px solid #b3fbff
}

h1 {
  color: #990073;
  position: rotate(45deg);
  transform: rotate(-10deg);
}

p {
  transform: rotate(-5deg);
}

.btn-ghost {
  border-color: #990073;
  color: #c09;
}

.btn-ghost:hover {
  background-color: #c09 20%;
  color: #c09;
  border-color: #c09;
}

img {
  max-width: 180px;
}

.cone {
  top: 240px;
  left: 85px
}

.mint {
  top: 120px;
}

.chocolate {
  top: 30px;
  left: 10px;
}

.vanilla {
  top: -40px;
}

.cherry {
  top: -120px;
}
